<%- include("../partials/userheader") %>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="login" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">

                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                                    href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                    aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-content-start">
                    <h5>Add Address</h5>
                    <a href="/profile" class="btn btn-primary btn-sm mb-3">Add Address</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>

                <div class="d-flex" style="justify-content: space-between;">
                    <form method="post">
                        <div class="row">
                            <% addresses.forEach((address, index)=> { %>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header d-flex">
                                            <h6 class="mb-0" style="display: flex; align-items: center;"> <input
                                                    class="mr-5" type="radio" name="selectedAddress"
                                                    style="width: 15px;" value="<%= address._id %>" <% if (index===0) {
                                                    %>checked<% } %>> <label for="selectedAdd">Address</label> </h6>
                                        </div>
                                        <div class="card-body">
                                            <label>

                                                <%= address.houseName %><br>
                                                    <%= address.street %>,<br>
                                                        <%= address.city %>, <%= address.state %>
                                                                <%= address.postalCode %><br>
                                                                    <%= address.country %><br>
                                                                        Phone: <%= address.phoneNumber %><br>
                                                                            Type: <%= address.type %>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <br>
                        <!-- Other form fields -->
                        <div class="mb-20">
                            <h5>Additional information</h5>
                        </div>
                        <div class="form-group mb-30">
                            <textarea rows="5" placeholder="Order notes" name="orderNotes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </form>



                    <div class="col-md-6">
    <div class="order_review">
        <div class="mb-20">
            <h4>Your Orders</h4>
        </div>
        <div class="table-responsive order_table text-center">
            <table class="table">
    <thead>
        <tr>
            <th colspan="2">Product</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% let totalAmount = 0; %>
        <% cart.products.forEach(product => { %>
        <tr>
            <td class="image product-thumbnail">
                <img src="/productimages/<%= product.productId.images[0] %>" alt="<%= product.productId.name %>">
            </td>
            <td>
                <h5><a href="/product-single/<%= product.productId.id %>"><%= product.productId.name %></a></h5>
                <span class="product-qty">x <%= product.quantity %></span>
            </td>
            <td>₹<%= product.productId.afterdiscount %></td>
        </tr>
        <% totalAmount += product.productId.afterdiscount * product.quantity; %>
        <% }) %>
        <tr>
            <th><h5>Total</h5></th>
            <td class="product-subtotal" id="totalAmount" colspan="2"><%= totalAmount %></td>
        </tr>
    </tbody>
</table>

        </div>
        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
        <div class="payment_method">
    <div class="mb-25">
        <h5>Payment</h5>
    </div>
    <div class="payment_option">
        <div class="custome-radio">
            <input class="form-check-input" required="" type="radio" name="payment_option" id="razorpay" value="razorpay" checked="">
            <label class="form-check-label" for="razorpay">Razorpay</label>
        </div>
        <div class="custome-radio">
            <input class="form-check-input" required="" type="radio" name="payment_option" id="onDelivery" value="onDelivery">
            <label class="form-check-label" for="onDelivery">On Delivery Payment</label>
        </div>
        <div class="custome-radio">
            <input class="form-check-input" required="" type="radio" name="payment_option" id="paypal" value="paypal">
            <label class="form-check-label" for="paypal">Paypal</label>
        </div>
    </div>
</div>

        <a class="btn btn-fill-out btn-block mt-30" id="placeOrderBtn">Place Order</a>
    </div>
</div>
                </div>
            </div>
        </section>
    </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    const placeOrder = async () => {
        try {
            const cartId = '<%=cart.id %>';
            const addressId = document.querySelector('input[name="selectedAddress"]:checked').value;
            const paymentMethod = document.querySelector('input[name="payment_option"]:checked').value;
            const totalAmount = document.getElementById('totalAmount').innerText;

            if (!cartId || !addressId || !paymentMethod) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please add all the required information.',
                });
                return;
            }

            const response = await fetch('/place-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cartId, addressId, paymentMethod, totalAmount }),
            });

            if (!response.ok) {
                throw new Error('product is out of stock');
            }

            const data = await response.json();
            console.log(data);
            window.location.href = "/ordersuccess"; // Redirect to ordersuccess page
        } catch (error) {
            console.error('Error placing order:', error.message);

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error.message,
            });
        }
    };

    const checkStockInCart = async () => {
        const cartId = '<%=cart.id %>';
        console.log(cartId, "jillmilll")

        try {
            const response = await fetch(`/check-stock/:${cartId}`);
            const data = await response.json();

            if (!response.ok) {
                throw new Error(data.error || 'Failed to check stock');
            }

            if ('error' in data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.error,
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'All products in stock',
                    text: 'Proceed to checkout',
                });
                
            }
        } catch (error) {
            console.error('Error checking stock in cart:', error.message);
            // Swal.fire({
            //     icon: 'error',
            //     title: 'Oops...',
            //     text: error.message,
            // });
        }
    }; 

    document.getElementById('placeOrderBtn').addEventListener('click', () => {
        checkStockInCart().then(() => {
            placeOrder();
        });
    });
</script>

    <%- include("../partials/userfooter") %>